@model Cafe.ViewModels.HomeViewModel

@await Html.PartialAsync("Carousel")

<h2> Prefered coffes of week</h2>
<div class="row">
    @foreach (var coffee in Model.PreferredCoffees)
    {
        @Html.Partial("CoffeesSummary", coffee)
    }
</div>