@using Cafe.ViewModels
@model CoffeeListViewModel

<div>
    <h2> All coffees are show here </h2>
</div>

<h2>@Model.CurrentCategory</h2>

@{ 
    foreach(Coffee coffee in Model.Coffees)
    {
        @Html.Partial("CoffeesSummary", coffee)
    }
}